/* Back Button Styles */
.back-btn {
    position: absolute;
    top: 90px;
    left: 20px;
    background-color: #14b8a6;
    color: white;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #0d9488;
}

