<footer class="bg-gray-800 bg-opacity-90 text-white py-4 rounded-t-lg"> <!-- Changed to rounded-t-lg -->
    <div class="flex justify-between items-center w-full">

        <!-- Left-Aligned Icons with Padding -->
        <div class="flex space-x-4 pl-4"> <!-- Added left padding -->
            <a class="btn bg-blue-500 text-white rounded-full p-2 hover:bg-blue-600 transition duration-200"
                target="_blank" href="https://www.facebook.com" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn bg-pink-500 text-white rounded-full p-2 hover:bg-pink-600 transition duration-200"
                target="_blank" href="http://www.instagram.com" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn bg-blue-400 text-white rounded-full p-2 hover:bg-blue-500 transition duration-200"
                target="_blank" href="http://www.twitter.com" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn bg-red-500 text-white rounded-full p-2 hover:bg-red-600 transition duration-200"
                target="_blank" href="http://www.google.com" aria-label="Google">
                <i class="fab fa-google"></i>
            </a>
        </div>

        <!-- Center-Aligned Copyright Text -->
        <div class="flex-grow text-center">
            <p class="text-sm mb-1">&copy; 2024 Jowai Town version 1.2</p>
            <p class="text-xs text-gray-400">All rights reserved.</p>
        </div>

    </div>
</footer>